.search-field {
  position: relative;
  z-index: 8;
  display: block;
  .search-input {
    display: block;
  }
  .search-icon {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
  .search-results {
    border-radius: var(--sc-border-radius);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--docs-search-box-bg-color);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    padding: 0 1em;
    padding-top: 1em;
    .suggestion-item {
      padding-bottom: 1em;
    }
  }
}
