/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu+Condensed&display=swap');
@import url('//unpkg.com/boxicons@2.0.5/css/boxicons.min.css');

@import '../../node_modules/soft-components/dist/soft-components/soft-components.css';
@import '../../node_modules/simplebar/dist/simplebar.css';

@import 'app/variables.scss';
@import 'app/mixins.scss';

@import 'app/baseline.scss';
@import 'app/typography.scss';
@import 'app/grid.scss';
@import 'app/code.scss';
@import 'app/table.scss';

/* Color theme */
:root,
html {
  --sc-bg-color: rgb(41, 84, 122);
  --sc-text-color: rgb(255, 255, 255);
  --sc-highlight-color: rgba(255, 255, 255, 0.14);
  --sc-shadow-color: rgba(0, 0, 0, 0.47);
  --sc-secondary-color: #e0be05;
  --sc-active-color: #bc54da;
  // scrollbar color in code-block
  --code-block-scrollbar-color: var(--color-green);
}

linkable-title {
  --icon-width: 1em;
  --icon-gap: #{$spacing};
  a {
    .anchor-icon {
      top: auto;
      transform: none;
    }
  }
}
