.menu {
  padding: 20px;
  padding-top: 0;
  .item {
    margin-top: 20px;
    .children {
      margin-left: 40px;
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 9;
  transform: translateX(-100%);
  will-change: transform, opacity;
  transition: all 0.3s ease;
  background: transparent;
  &.open {
    opacity: 1;
    transform: translateX(0);
  }

  .mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.3);
    backdrop-filter: blur(10px);
  }
  $orange: #5bc0de;
  $lighten-orange: lighten($orange, 40%);
  .mobile-menu-content {
    padding-top: 20px;
    height: 100%;
    overflow: auto;
    sc-button {
      --sc-secondary-color: #bdbdbd;
      --sc-button-text-hover-color: #bdbdbd;
      backdrop-filter: blur(20px);
      --sc-button-bg-color: transparent;
      --sc-button-text-color: white;
      --sc-button-hover-text-color: #999;
      --sc-highlight-color: white;
    }
  }
}
