codepen-link {
  display: inline-block;
  .submit-wrapper {
    position: relative;
    display: block;

    .codepen-link-real-submit {
      position: absolute;
      width: 0;
      height: 0;
      border: none;
      background: transparent;
    }
  }
}
