:root,
html {
  /**
    * @prop --sc-button-bg-color: Background of the button
    * @prop --sc-button-text-color:  Button text color
    * @prop --sc-button-border-radius:  Button border radius
    * @prop --sc-button-padding-y:  Vertical paddings
    * @prop --sc-button-padding-x:  Horizontal paddings
    * @prop --sc-button-icon-size:  Icon button size
    * @prop --sc-button-bordered-border-radius:  Bordered-style border radius
    * @prop --sc-button-bordered-border-width:  Bordered-style border width
    * @prop --sc-button-text-hover-color:  Text color on hover
    * @prop --sc-button-text-active-color:  Text color with active prop
    */
  --sc-button-bg-color: var(--sc-bg-color);
  --sc-button-text-color: var(--sc-text-color);
  --sc-button-border-radius: var(--sc-border-radius);
  --sc-button-padding-y: 1em;
  --sc-button-padding-x: 2em;
  --sc-button-icon-size: 2.5em;
  --sc-button-bordered-border-radius: var(--sc-button-border-radius);
  --sc-button-bordered-border-width: 2px;
  --sc-button-text-hover-color: var(--sc-secondary-color);
  --sc-button-text-active-color: var(--sc-active-color);
}
sc-button {
  display: inline-block;
  &[type] {
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
  }
  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  a,
  button {
    cursor: pointer;
    border: none;
    background-color: var(--sc-button-bg-color);
    color: var(--sc-button-text-color);
    border-radius: var(--sc-button-border-radius);
    @include raised();
    position: relative;
    padding: 4px;
    font-size: 1em;
    font-family: inherit;
    &:focus {
      outline: none;
    }
    .button-inner {
      transition: all 0.4s ease;
      display: inline-block;
      padding: var(--sc-button-padding-y) var(--sc-button-padding-x);
      border-radius: calc(var(--sc-button-border-radius) - 4px);
    }

    &:hover,
    &:focus {
      color: var(--sc-button-text-hover-color);
      .button-inner {
        @include engraved(0.7);
      }
    }

    &:active {
      .button-inner {
        @include engraved(1);
      }
    }
  }

  &.block {
    display: block;

    a,
    button {
      width: 100%;

      .button-inner {
        width: 100%;
      }
    }
  }

  &.icon {
    a,
    button {
      width: var(--sc-button-icon-size);
      height: var(--sc-button-icon-size);
      border-radius: 50%;
      text-align: center;
      line-height: calc(var(--sc-button-icon-size) - 8px);
      padding: 4px;
      font-size: 1.6em;
      .button-inner {
        padding: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
  &.bordered {
    a,
    button {
      position: relative;
      padding: calc(4px + var(--sc-button-bordered-border-width));
      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        bottom: 3px;
        right: 3px;
        border-radius: var(--sc-button-bordered-border-radius);
        @include engraved-border-gradient();
      }
      .button-inner {
        position: relative;
        background-color: var(--sc-button-bg-color);
        border-radius: calc(var(--sc-button-bordered-border-radius) - 1px);
      }
    }
    &.icon {
      a,
      button {
        --sc-button-bordered-border-radius: 50%;
        line-height: calc(
          var(--sc-button-icon-size) - 8px -
            var(--sc-button-bordered-border-width) -
            var(--sc-button-bordered-border-width)
        );
        .button-inner {
          border-radius: 50%;
        }
      }
    }
  }
  &.active {
    a,
    button {
      color: var(--sc-button-text-active-color);
      .button-inner {
        @include engraved();
      }
    }
  }
}
