:host {

  * {
    box-sizing: border-box;
  }

  display: inline-block;

  a {
    text-decoration: none;
    display: inline-block;
  }

  a,
  button {
    cursor: pointer;
    border: none;
    background-color: var(--sc-button-bg-color);
    color: var(--sc-button-text-color);
    border-radius: var(--sc-button-border-radius);
    @include raised();
    position: relative;
    padding: 4px;
    outline: none;
    font-size: 1em;

    .button-inner {
      transition: all 0.4s ease;
      display: inline-block;
      padding: var(--sc-button-padding-y) var(--sc-button-padding-x);
      border-radius: calc(var(--sc-button-border-radius) - 4px);
    }


    &:hover,
    &:focus {
      .button-inner {
        @include engraved(0.7);
      }
    }

    &:active {
      .button-inner {
        @include engraved(1);
      }
    }
  }
}

:host([icon]) {

  a,
  button {
    width: var(--sc-button-icon-size);
    height: var(--sc-button-icon-size);
    border-radius: 50%;
    text-align: center;
    line-height: calc(var(--sc-button-icon-size) - 8px);
    padding: 4px;

    .button-inner {
      padding: 0;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
}

:host(.block) {
  display: block;

  a,
  button {
    width: 100%;

    .button-inner {
      width: 100%;
    }
  }
}
