app-logo {
  display: block;
  color: var(--sc-text-color);
  height: 100%;
  .mobile {
    max-height: var(--mobile-header-height);
  }
  .full-logo {
    display: none;
  }
  @include media(md) {
    .full-logo {
      display: block;
    }
    .mobile {
      display: none;
    }
  }
  svg {
    path {
      fill: currentColor;
    }
  }
}
