app-logo {
  display: block;
  color: var(--sc-text-color);
  height: 100%;
  .full-logo {
    display: none;
  }
  @include media(lg) {
    .full-logo {
      display: block;
    }
    .mobile {
      display: none;
    }
  }
  svg {
    max-height: 100%;
    path {
      fill: currentColor;
    }
  }
}
