app-root {
  display: grid;
  padding: var(--root-padding);
  overflow: hidden;
  min-height: 100vh;
  gap: 0px 0px;
  grid-template-columns: 100%;
  grid-template-rows: var(--mobile-header-height) 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  @include media(lg) {
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header  main'
      'nav  main'
      'footer  footer';
  }

  &.mobile-menu-open {
    overflow: hidden;
  }

  .header {
    grid-area: header;
    @include media(lg) {
      .mobile-nav-trigger,
      .spacer {
        display: none;
      }
      .logo-container {
        flex-basis: 100%;
      }
    }
  }

  .header,
  .mobile-nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include unspacing;
    .mobile-nav-trigger {
      flex-basis: 10%;
      width: 10%;
    }
    .logo-container {
      padding: $spacing * 2;
      flex-basis: 80%;
      width: 80%;
      text-align: center;
      svg {
        max-width: 120px;
      }
    }
    .spacer {
      flex-basis: 10%;
      width: 10%;
    }
  }
  .mobile-nav-header {
    padding: $spacing * 2;
  }
  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }

  .nav {
    display: none;
    @include media(lg) {
      display: block;
    }
  }

  .mobile-nav {
    position: fixed;
    background: var(--sc-bg-color);
    top: 0;
    padding: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    app-nav {
      overflow: auto;
      padding: 0 var(--root-padding);
    }
    &.open {
      transform: translateX(0);
    }

    .mobile-nav-header {
      height: calc(var(--mobile-header-height) + var(--root-padding) * 2);
    }
    @include media(lg) {
      display: none;
    }
  }
}
