app-root {
  display: grid;
  padding: $spacing * 2;
  overflow: hidden;
  min-height: 100vh;
  gap: 0px 0px;

  grid-template-columns: 1fr;
  grid-template-rows: 80px 80px 1fr auto;
  grid-template-areas:
    'logo'
    'header'
    'main'
    'footer';
  @include media(lg) {
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'logo  main'
      'left-side  main'
      'footer  footer';
  }
  .logo {
    grid-area: logo;
  }

  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }

  .left-side {
    grid-area: left-side;
  }
}
