html,
body {
  * {
    box-sizing: border-box;
  }
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans&display=swap");

$opensans: "Open Sans", sans-serif;
$mont: "Montserrat", sans-serif;
body {
  font-family: $opensans;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $mont;
}
