@import "./variables.scss";
html,
body {
  * {
    box-sizing: border-box;
  }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans&display=swap");

$opensans: "Open Sans", sans-serif;
$mont: "Montserrat", sans-serif;

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  font-family: $opensans;
  font-size: 16px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $mont;
}

main {
  margin-top: 80px;
  margin-bottom: 80px;
}

.sticky {
  position: sticky;
  top: 0;
}

table {
  border: 1px solid #707070;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  th,
  td {
    border: 1px solid #707070;
    padding: 10px;
    vertical-align: top;
  }
}

@media (min-width: 1900px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px;
  }
}
.footer {
  sc-button {
    margin-right: 40px;
  }
}
a {
  color: currentColor;
}

.text-center {
  text-align: center;
}

sc-tab-content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.preview-card {
  border: 1px solid #fb8c00;
}
.logo-button{
  text-align: center;
  h2{
    margin: 0
  }
}
.logo{
  width: 60px;
  height: 60px;
  fill: currentColor;
}