// @import "variables.css";
@import "./scss/mixins.scss";
@import "./scss/margin-padding.scss";
@import "./scss/raise-engrave.scss";
@import "dark-mode"; // @todo move dark mode into own css file

html,
body {
  font-size: 16px;
  background-color: var(--sc-bg-color, #f1f1f1);
  color: var(--sc-text-color, #333333);
}

* {
  box-sizing: border-box;
}

.round {
  @include round();
}
