@import "variables.css";
html.dark {
  --sc-bg-color: #15202b;
  --sc-text-color: white;
  --sc-highlight-color: rgba(255, 255, 255, 0.2);
  --sc-shadow-color: rgba(0, 0, 0, 0.8);
  --sc-secondary-color: #646695;
  --sc-active-color: #c586c0;
}

@media (prefers-color-scheme: dark) {
  :root,
html {
    --sc-bg-color: #15202b;
    --sc-text-color: white;
    --sc-highlight-color: rgba(255, 255, 255, 0.2);
    --sc-shadow-color: rgba(0, 0, 0, 0.8);
    --sc-secondary-color: #646695;
    --sc-active-color: #c586c0;
  }
}
html,
body {
  font-size: 16px;
  background-color: var(--sc-bg-color, #f6f6f8);
  color: var(--sc-text-color, #333333);
}

* {
  box-sizing: border-box;
}

.raised {
  box-shadow: -10px -10px 30px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), 10px 10px 30px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved {
  box-shadow: inset -10px -10px 30px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), inset 10px 10px 30px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-1 {
  box-shadow: -1px -1px 3px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), 1px 1px 3px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-highlight-1 {
  box-shadow: -1px -1px 3px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.raised-shadow-1 {
  box-shadow: 1px 1px 3px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-1 {
  box-shadow: inset -1px -1px 3px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), inset 1px 1px 3px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-highlight-1 {
  box-shadow: inset -1px -1px 3px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.engraved-shadow-1 {
  box-shadow: inset 1px 1px 3px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-2 {
  box-shadow: -2px -2px 6px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), 2px 2px 6px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-highlight-2 {
  box-shadow: -2px -2px 6px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.raised-shadow-2 {
  box-shadow: 2px 2px 6px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-2 {
  box-shadow: inset -2px -2px 6px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), inset 2px 2px 6px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-highlight-2 {
  box-shadow: inset -2px -2px 6px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.engraved-shadow-2 {
  box-shadow: inset 2px 2px 6px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-3 {
  box-shadow: -3px -3px 9px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), 3px 3px 9px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-highlight-3 {
  box-shadow: -3px -3px 9px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.raised-shadow-3 {
  box-shadow: 3px 3px 9px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-3 {
  box-shadow: inset -3px -3px 9px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), inset 3px 3px 9px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-highlight-3 {
  box-shadow: inset -3px -3px 9px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.engraved-shadow-3 {
  box-shadow: inset 3px 3px 9px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-4 {
  box-shadow: -4px -4px 12px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), 4px 4px 12px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-highlight-4 {
  box-shadow: -4px -4px 12px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.raised-shadow-4 {
  box-shadow: 4px 4px 12px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-4 {
  box-shadow: inset -4px -4px 12px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), inset 4px 4px 12px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-highlight-4 {
  box-shadow: inset -4px -4px 12px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.engraved-shadow-4 {
  box-shadow: inset 4px 4px 12px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-5 {
  box-shadow: -5px -5px 15px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), 5px 5px 15px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-highlight-5 {
  box-shadow: -5px -5px 15px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.raised-shadow-5 {
  box-shadow: 5px 5px 15px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-5 {
  box-shadow: inset -5px -5px 15px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), inset 5px 5px 15px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-highlight-5 {
  box-shadow: inset -5px -5px 15px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.engraved-shadow-5 {
  box-shadow: inset 5px 5px 15px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-6 {
  box-shadow: -6px -6px 18px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), 6px 6px 18px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-highlight-6 {
  box-shadow: -6px -6px 18px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.raised-shadow-6 {
  box-shadow: 6px 6px 18px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-6 {
  box-shadow: inset -6px -6px 18px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), inset 6px 6px 18px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-highlight-6 {
  box-shadow: inset -6px -6px 18px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.engraved-shadow-6 {
  box-shadow: inset 6px 6px 18px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-7 {
  box-shadow: -7px -7px 21px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), 7px 7px 21px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-highlight-7 {
  box-shadow: -7px -7px 21px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.raised-shadow-7 {
  box-shadow: 7px 7px 21px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-7 {
  box-shadow: inset -7px -7px 21px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), inset 7px 7px 21px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-highlight-7 {
  box-shadow: inset -7px -7px 21px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.engraved-shadow-7 {
  box-shadow: inset 7px 7px 21px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-8 {
  box-shadow: -8px -8px 24px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), 8px 8px 24px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.raised-highlight-8 {
  box-shadow: -8px -8px 24px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.raised-shadow-8 {
  box-shadow: 8px 8px 24px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-8 {
  box-shadow: inset -8px -8px 24px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2)), inset 8px 8px 24px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.engraved-highlight-8 {
  box-shadow: inset -8px -8px 24px 0 var(--sc-highlight-color, rgba(255, 255, 255, 0.2));
}

.engraved-shadow-8 {
  box-shadow: inset 8px 8px 24px 0 var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

.round {
  border-radius: var(--sc-border-radius, 1em);
}

/*# sourceMappingURL=app.css.map */
