@import "variables.css";
@import "mixins";
@import "dark-mode"; // @todo move dark mode into own css file

html,
body {
  font-size: 16px;
  background-color: var(--sc-bg-color, #f6f6f8);
  color: var(--sc-text-color, #333333);
}

* {
  box-sizing: border-box;
}

// utility classes
.raised {
  @include raised();
}

.engraved {
  @include engraved();
}

@for $i from 1 to 9 {
  .raised-#{$i} {
    @include raised($i/10);
  }
  .raised-highlight-#{$i} {
    box-shadow: highlight($i/10), none;
  }
  .raised-shadow-#{$i} {
    box-shadow: none, shadow($i/10);
  }

  .engraved-#{$i} {
    @include engraved($i/10);
  }
  .engraved-highlight-#{$i} {
    box-shadow: inset highlight($i/10), none;
  }
  .engraved-shadow-#{$i} {
    box-shadow: none, inset shadow($i/10);
  }
}

.round {
  border-radius: var(--sc-border-radius, 1em);
}
