@function highlight($factor: 1) {
  @return -5px * $factor -5px * $factor 26px * $factor 0 var(--sc-highlight-color, #ffffff);
}
@function shadow($factor: 1) {
  @return 5px * $factor 5px * $factor 26px * $factor 0
    var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

@mixin raised($factor: 1) {
  box-shadow: highlight($factor), shadow($factor);
}

@mixin engraved($factor: 1) {
  box-shadow: inset highlight($factor), inset shadow($factor);
}

@mixin engraved-border-gradient() {
  background-image: linear-gradient(
      to bottom right,
      var(--sc-shadow-color, rgba(0, 0, 0, 0.2)) -10%,
      transparent 45%
    ),
    linear-gradient(
      to bottom right,
      transparent 60%,
      var(--sc-highlight-color, #ffffff) 120%
    );
}

@mixin ease-in-component() {
  opacity: 0;
  transition: opacity 0.5s ease;
  &.hydrated {
    opacity: 1;
  }
}
