@mixin raised($factor: 1) {
  box-shadow: -5px * $factor -5px * $factor 16px * $factor 0 var(--sc-highlight-color, #ffffff),
    5px * $factor 5px * $factor 16px * $factor 0
      var(--sc-shadow-color, rgba(0, 0, 0, 0.2));
}

@mixin engraved($factor: 1) {
  box-shadow: inset -5px * $factor -5px * $factor 24px * $factor 0
      var(--sc-highlight-color, #ffffff),
    inset 5px * $factor 5px * $factor 24px * $factor 0
      var(--sc-shadow-color, rgba(0, 0, 0, 0.1));
}

@mixin engraved-border-gradient() {
  background-image: linear-gradient(
      to bottom right,
      var(--sc-shadow-color, rgba(0, 0, 0, 0.2)) -10%,
      transparent 45%
    ),
    linear-gradient(
      to bottom right,
      transparent 60%,
      var(--sc-highlight-color, #ffffff) 120%
    );
}
