:root,
html {
  /* shadow colors*/
  --sc-highlight-color: rgba(255, 255, 255, 0.8);
  --sc-shadow-color: rgba(80, 80, 80, 0.2);
  /* colors */
  --sc-bg-color: #d3f1f1;
  --sc-text-color: #333333;
  --sc-border-radius: 1em;
  --sc-border-color: red;
  --sc-card-border-color: blue;
  --sc-error-color: #f70d1a;
  --sc-secondary-color: #646695;
  --sc-active-color: #3ab877;
  /* animation */
  --sc-animation-duration: 0.2s;
  --sc-animation-timing-function: ease;
}
