:root,
html {
  /* shadow colors*/
  --sc-highlight-color: #ffffff;
  --sc-shadow-color: rgba(0, 0, 0, 0.2);
  /* colors */
  --sc-bg-color: #EFEEEE;
  --sc-text-color: #333333;
  --sc-border-radius: 1em;
  --sc-error-color: #f70d1a;


}
