app-nav {
  ul {
    list-style: none;
  }
  .nav {
    padding-left: $spacing * 3;
    display: block;

    .nav-item {
      margin-bottom: 2 * $spacing;

      a {
        padding: $spacing * 4;
        transform: translateX(3px);
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
        display: block;
        text-decoration: none;
        &.active {
          background: var(--sc-bg-color);
        }
      }
    }
  }
}
