app-nav {
  ul {
    padding: 0;
    list-style: none;
  }
  .nav {
    display: block;
    .nav-item {
      margin-bottom: 2 * $spacing;

      a {
        padding: $spacing * 2;
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        position: relative;
        &.active {
          transform: translateX(8px);
          background: var(--sc-bg-color);
        }
      }
    }
  }
  .sub-nav {
    margin-left: $spacing * 3;
    .nav-item {
      margin-bottom: 0;
    }
  }
}
