sc-input {
  /**
    @prop --sc-input-border-radius:
      Border radius for input box
      - default: var(--sc-border-radius, 1em)
  */
  --sc-input-border-radius: var(--sc-border-radius, 1em);
  --sc-input-padding-y: 1em;
  --sc-input-padding-x: 1em;
  --sc-input-bg-color: var(--sc-bg-color, #f6f6f8);
  --sc-input-text-color: var(--sc-text-color, #333333);
  --sc-input-font-size: 1em;
  --sc-input-error-text-color: var(--sc-error-color, #f70d1a);

  --sc-input-radio-size: 32px;
  --sc-input-active-color: var(--sc-highlight-color, #c586c0);

  /* input */
  display: inline-block;
  vertical-align: middle;

  input {
    @include transition(all);
    outline: none;
    border: none;
    border-radius: var(--sc-input-border-radius);
    padding: var(--sc-input-padding-y) var(--sc-input-padding-x);
    background-color: var(--sc-input-bg-color);
    color: var(--sc-input-text-color);
    font-size: var(--sc-input-font-size);
    width: 100%;
    box-sizing: border-box;
    ::placeholder {
      color: currentColor;
    }

    &:invalid {
      color: var(--sc-input-error-text-color);
    }
  }

  &.has-error {
    input {
      border: 1px solid var(--sc-input-error-text-color);
      // --sc-shadow-color: var(--sc-input-error-text-color);
    }

    .error-message {
      padding: 4px var(--sc-input-padding-x);
      color: var(--sc-input-error-text-color);
    }
  }

  &.block {
    display: block;
    width: 100%;
  }

  &[type='radio'] {
    border-radius: 50%;
    position: relative;
    input,
    label {
      cursor: pointer;
    }
    &[disabled] {
      input,
      label {
        cursor: not-allowed;
      }
    }
    .after {
      --sc-input-radio-active-dot-gap: calc(var(--sc-input-radio-size) * 0.25);
      --sc-input-radio-active-dot-size: calc(
        var(--sc-input-radio-size) - (var(--sc-input-radio-active-dot-gap) * 2)
      );
      position: absolute;
      opacity: 0;
      top: var(--sc-input-radio-active-dot-gap);
      right: var(--sc-input-radio-active-dot-gap);
      width: var(--sc-input-radio-active-dot-size);
      height: var(--sc-input-radio-active-dot-size);
      background: var(--sc-input-active-color);
      border-radius: 50%;
      @include engraved(0.1);
      @include transition(opacity);
      pointer-events: none;
    }
    input {
      appearance: none;
      @include raised(0.2);
      margin: 0;
      padding: 0;
      width: var(--sc-input-radio-size, 1em);
      height: var(--sc-input-radio-size, 1em);
      vertical-align: middle;
      &:checked {
        & ~ .after {
          opacity: 1;
        }
      }
    }
  }
}
