theme-setter {
  position: fixed;
  left: 50%;
  bottom: $spacing * 2;
  right: $spacing * 2;
  z-index: 9999;
  transform: translateY(0);
  transition: transform 0.3s ease;
  text-align: right;
  height: auto;
  sc-button {
    --sc-button-icon-size: 56px;
  }
  .panel-content {
    width: 100%;
    text-align: left;
    height: 0;
    overflow: hidden;
  }
  &.in {
    transform: translateY(0);
    .panel-content {
      height: auto;
    }
  }
}
