:host {
  /* card vars */
  --sc-card-outer-padding-x: 40px;
  --sc-card-outer-padding-y: 40px;
  --sc-card-inner-padding-y: 22px;
  --sc-card-bg-color: var(--sc-bg-color);
  --sc-card-title-font-size: 26px;
  --sc-card-title-font-weight: 700;
  --sc-card-title-text-color: var(--sc-text-color);
  --sc-card-subtitle-font-size: 18px;
  --sc-card-subtitle-font-weight: normal;
  --sc-card-subtitle-text-color: #696969;
  --sc-card-bordered-width: 2px;
  //--- card ---//
  display: block;
  @include raised();
  background: var(--sc-card-bg-color);
  border-radius: var(--sc-border-radius);
  a {
    display: block;
    color: currentColor;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
    &:hover,
    &:focus {
      border-radius: var(--sc-border-radius);
      @include engraved();
    }
  }
  .card-inner {
    border-radius: var(--sc-border-radius);
    padding: var(--sc-card-outer-padding-y) var(--sc-card-outer-padding-x);
    .card-title-container {
      padding-bottom: var(--sc-card-inner-padding-y);

      .card-title {
        font-size: var(--sc-card-title-font-size);
        font-weight: var(--sc-card-title-font-weight);
        color: var(--sc-card-title-text-color);
        line-height: 2;
      }
      .card-subtitle {
        font-size: var(--sc-card-subtitle-font-size);
        font-weight: var(--sc-card-subtitle-font-weight);
        color: var(--sc-card-subtitle-text-color);
        line-height: 1.5;
      }
    }
  }
}

:host(.engraved) {
  @include engraved();
}

:host(.hoverable) {
  &:hover {
    @include engraved();
  }
}

:host(.bordered) {
  @include engraved-border-gradient();
  padding: var(--sc-card-bordered-width);
  .card-inner {
    background-color: var(--sc-card-bg-color);
  }
}
