page-components {
  min-height: 100vh;
  section {
    .component-title {
      h1 {
        text-transform: capitalize;
      }
      code {
        display: block;
        margin-top: $spacing;
      }
    }
    doc-usage {
      display: block;
    }
  }
  component-sidebar {
    display: none;
    @include media(sm) {
      display: block;
    }
    nav {
      .nav-item {
        margin-bottom: 4 * $spacing;
      }
      .submenu {
        margin-top: 2 * $spacing;
        .nav-item {
          margin-bottom: 2 * $spacing;
        }
      }
    }
  }
}
