page-components {
  min-height: 100vh;
  .component-title {
    h1 {
      text-transform: capitalize;
    }
    code {
      display: block;
      margin-top: $spacing;
    }
  }
  doc-usage {
    display: block;
  }

  component-sidebar {
    display: none;
    @include media(sm) {
      display: block;
    }
    nav {
      .nav-item {
        margin-bottom: 4 * $spacing;
      }
      .submenu {
        margin-top: 2 * $spacing;
        .nav-item {
          margin-bottom: 2 * $spacing;
        }
      }
    }
  }

  .table-container {
    position: relative;
    .table-head {
      min-height: 70px;
      align-items: center;

      .th {
        display: none;
        @include media(md) {
          display: block;
        }
      }
    }
  }

  .search-container {
    position: absolute;
    left: $spacing * 2;
    top: $spacing * 2;
    right: $spacing * 2;
    z-index: 9;
    .search-btn {
      --sc-button-icon-size: #{$spacing * 6};
      float: right;
    }

    .props-search-bar {
      position: absolute;
      top: calc(100% + #{$spacing});
      right: $spacing;
      left: $spacing;
      background: var(--sc-bg-color);
      height: auto;
      padding: $spacing;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
      display: flex;
      align-items: center;
      &.active {
        opacity: 1;
        pointer-events: initial;
      }
      @include media(lg) {
        width: 50%;
        left: auto;
      }
    }
  }

  .prop__title {
    --icon-width: #{$spacing};
    --icon-gap: #{$spacing/2};
  }

  section.usage {
    .intro {
      opacity: 0.8;
      font-size: 1.5rem;
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }
}
