:host {
  /**
    @prop --sc-progress-width:
      Width of the progress bar
      - default: 100%
  */
  --sc-progress-width: 100%;

  /**
    @prop --sc-progress-height:
      Height of the progress bar
      - default: var(--sc-root-spacing, 8px)
  */
  --sc-progress-height: var(--sc-root-spacing, 8px);

  /**
    @prop --sc-progress-bar-inner-color:
      Color of the inner progress bar
      - default: var(--sc-active-color, #3ab877)
  */
  --sc-progress-bar-inner-color: var(--sc-active-color, #3ab877);

  /**
    @prop --sc-progress-border-radius:
      Radius of the progress bar
      - default: var(--sc-border-radius, 4px)
  */
  --sc-progress-border-radius: var(--sc-border-radius, 4px);

  /**
    @prop --sc-progress-padding-x:
      Horizontal inner padding
      - default: 4px
  */
  --sc-progress-padding-x: 4px;

  /**
    @prop --sc-progress-padding-y:
      Vertical inner padding
      - default: 4px
  */
  --sc-progress-padding-y: 4px;

  /**
    @prop --sc-progress-animation-duration:
      Animation duration of the indeterminate progress bar
      - default: var(--sc-animation-duration, 0.4s)
  */
  --sc-progress-animation-duration: var(--sc-animation-duration, 2s);

  /**
    @prop --sc-progress-animation-timing-function:
      Animation timing function of the indeterminate progress bar
      - default: var(--sc-animation-timing-function, ease)
  */
  --sc-progress-animation-timing-function: var(
    --sc-animation-timing-function,
    ease-in-out
  );

  /**
    @prop --sc-progress-ring-thickness:
      Thickness of the circular progress bar
      - default: var(--sc-root-spacing, 8px)
  */
  --sc-progress-ring-thickness: var(--sc-root-spacing, 8px);

  /**
    @prop --sc-progress-circular-size:
      Width and height of the circular progress bar
      - default: 100px
  */
  --sc-progress-circular-size: 100px;
  display: block;
  @include engraved(0.1);
  @include round;
  width: var(--sc-progress-width);
  height: auto;
  overflow: hidden;
  padding: var(--sc-progress-padding-y) var(--sc-progress-padding-x);
  .inner {
    @include raised(0.1);
    height: var(--sc-progress-height);
    background: var(--sc-progress-bar-inner-color);
    border-radius: var(--sc-progress-border-radius);
  }
}
:host(.indeterminate) {
  @keyframes progress {
    0% {
      // transform-origin: left;
      // transform: scaleX(0);
      transform: translateX(-110%);
    }
    // 50% {
    //   // transform-origin: left;
    //   // transform: scaleX(1);
    //   transform: translateX(0%);
    // }
    // 50.1% {
    //   // transform-origin: right;
    //   // transform: scaleX(1);
    // }
    100% {
      // transform-origin: right;
      // transform: scaleX(0);
      transform: translateX(110%);
    }
  }
  .inner {
    animation: progress var(--sc-progress-animation-duration)
      var(--sc-progress-animation-timing-function) infinite;
  }
}

:host(.circular) {
  @include engraved(0);
  border-radius: 50%;
  width: auto;
  height: auto;
  display: inline-block;
  .circular-container {
    position: relative;
  }
  .label {
    position: absolute;
    top: var(--sc-progress-ring-thickness);
    left: var(--sc-progress-ring-thickness);
    width: calc(
      var(--sc-progress-circular-size) - 2 * var(--sc-progress-ring-thickness)
    );
    height: calc(
      var(--sc-progress-circular-size) - 2 * var(--sc-progress-ring-thickness)
    );
    z-index: 2;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include raised(0.2);
  }
  .progress-ring {
    position: relative;
    z-index: 1;
    width: var(--sc-progress-circular-size);
    height: var(--sc-progress-circular-size);
  }
  .progress-ring__circle {
    @include transition(stroke-dashoffset);
    transform: rotate(var(--sc-progress-circular-initial-rotate));
    transform-origin: 50% 50%;
    fill: transparent;
    stroke: red;
    stroke-width: var(--sc-progress-ring-thickness);
    stroke-dasharray: var(--sc-progress-circular-stroke-dasharray);
    stroke-dashoffset: var(--sc-progress-circular-stroke-dashoffset);
    stroke-linecap: round;
    // stroke-width: 10px;
    // width: 120px;
    // height: 120px;
  }
}
