:host {
  /**
    @prop --sc-progress-width:
      Width of the progress bar
      - default: 100%
  */
  --sc-progress-width: 100%;

  /**
    @prop --sc-progress-height:
      Height of the progress bar
      - default: var(--sc-root-spacing, 8px)
  */
  --sc-progress-height: var(--sc-root-spacing, 8px);

  /**
    @prop --sc-progress-bar-inner-color:
      Color of the inner progress bar
      - default: var(--sc-active-color, #3ab877)
  */
  --sc-progress-bar-inner-color: var(--sc-active-color, #3ab877);

  /**
    @prop --sc-progress-border-radius:
      Radius of the progress bar
      - default: var(--sc-border-radius, 4px)
  */
  --sc-progress-border-radius: var(--sc-border-radius, 4px);

  /**
    @prop --sc-progress-padding-x:
      Horizontal inner padding
      - default: 4px
  */
  --sc-progress-padding-x: 4px;

  /**
    @prop --sc-progress-padding-y:
      Vertical inner padding
      - default: 4px
  */
  --sc-progress-padding-y: 4px;

  /**
    @prop --sc-progress-animation-duration:
      Animation duration of the indeterminate progress bar
      - default: var(--sc-animation-duration, 0.4s)
  */
  --sc-progress-animation-duration: var(--sc-animation-duration, 2s);

  /**
    @prop --sc-progress-animation-timing-function:
      Animation timing function of the indeterminate progress bar
      - default: var(--sc-animation-timing-function, ease)
  */
  --sc-progress-animation-timing-function: var(
    --sc-animation-timing-function,
    ease-in-out
  );

  /**
    @prop --sc-progress-circular-size:
      Width and height of the circular progress bar
      - default: 100px
  */
  --sc-progress-circular-size: 100px;

  /**
    @prop --sc-progress-ring-color:
      Color of the circular progress ring
      - default: var(--sc-active-color, orange)
  */
  --sc-progress-ring-color: var(--sc-active-color, orange);

  /**
    @prop --sc-progress-circular-initial-rotate:
      Initial rotation of the progress ring. 0 means starting from right-center
      - default: 90deg
  */
  --sc-progress-circular-initial-rotate: 90deg;

  display: block;
  @include engraved(0.1);
  @include round;
  width: var(--sc-progress-width);
  height: auto;
  overflow: hidden;
  padding: var(--sc-progress-padding-y) var(--sc-progress-padding-x);
  * {
    box-sizing: border-box;
  }
  .inner {
    @include raised(0.1);
    height: var(--sc-progress-height);
    background: var(--sc-progress-bar-inner-color);
    border-radius: var(--sc-progress-border-radius);
  }
}
:host(.indeterminate) {
  @keyframes progress {
    0% {
      transform: translateX(-110%);
    }
    100% {
      transform: translateX(110%);
    }
  }
  .inner {
    animation: progress var(--sc-progress-animation-duration)
      var(--sc-progress-animation-timing-function) infinite;
  }
}

:host(.circular) {
  @include engraved(0);
  border-radius: 50%;
  width: auto;
  height: auto;
  display: inline-block;
  .circular-container {
    position: relative;
    width: var(--sc-progress-circular-size);
    height: var(--sc-progress-circular-size);
  }
  .label {
    --sc-progress-cicular-label-size: calc(
      var(--sc-progress-circular-size) - 3 * var(--sc-progress-stroke-width)
    );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--sc-progress-cicular-label-size);
    height: var(--sc-progress-cicular-label-size);
    padding: 8px;
    z-index: 2;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include raised(0.25);
    overflow: hidden;
    text-overflow: hidden;
  }
  .progress-ring {
    position: relative;
    z-index: 1;
    width: var(--sc-progress-circular-size);
    height: var(--sc-progress-circular-size);
    @include engraved(0.25);
    border-radius: 50%;
    padding: calc(var(--sc-progress-stroke-width) / 2);
  }
  .progress-ring__circle {
    @include transition(stroke-dashoffset);
    transform: rotate(var(--sc-progress-circular-initial-rotate));
    transform-origin: center center;
    fill: transparent;
    stroke: var(--sc-progress-ring-color);
    stroke-width: var(--sc-progress-stroke-width);
    stroke-dasharray: var(--sc-progress-circular-stroke-dasharray);
    stroke-dashoffset: var(--sc-progress-circular-stroke-dashoffset);
    stroke-linecap: round;
    // stroke-width: 10px;
    // width: 120px;
    // height: 120px;
  }
}

:host(.circular.indeterminate) {
  // SVG styles.
  svg {
    animation: 2s linear infinite svg-animation;
  }

  // SVG animation.
  @keyframes svg-animation {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  @keyframes progress-circle {
    0%,
    25% {
      stroke-dashoffset: 280;
      transform: rotate(0);
    }

    50%,
    75% {
      stroke-dashoffset: 75;
      transform: rotate(45deg);
    }

    100% {
      stroke-dashoffset: 280;
      transform: rotate(360deg);
    }
  }
  .progress-ring__circle {
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    animation: 1.4s ease-in-out infinite both progress-circle;
  }
}
