code-block {
  display: block;
  .preview {
    margin-top: $spacing * 2;
  }
  .control-bar {
    --sc-card-outer-padding-x: #{$spacing};
    --sc-card-outer-padding-y: #{$spacing};
    sc-button {
      --sc-button-icon-size: #{$spacing * 6};
    }
  }

  .code-block {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    &.open {
      max-height: 100vh;
      overflow: auto;
      margin-bottom: calc(var(--spacing) * 4);
    }
  }
  .style-container {
    display: flex;
    height: 40vh;
    overflow: hidden;
    .style-list {
      flex: 1;
      flex-basis: 55%;
      padding-right: calc(var(--spacing) * 2);
      margin-right: calc(var(--spacing) * 2);
    }
    .style-code {
      flex: 1;
      flex-basis: 45%;
    }
    .style-text {
      .title {
        font-weight: bold;
        font-size: 20px;
      }
      .description {
        font-size: 14px;
        opacity: 0.8;
        margin: var(--spacing);
      }
    }
  }
}
