body {
  .flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include media(md) {
      flex-direction: row;
      > * {
        margin-top: 0;
      }
    }
  }
  .container {
    display: block;
    width: 100%;
    padding: 0 7%;
    @include media(lg) {
      padding: 0;
      max-width: 970px;
      margin: 0 auto;
    }
    @include media(xl) {
      max-width: 1024px;
    }
  }
}
// helpers
$align-positions: (
  start: flex-start,
  center: center,
  end: flex-end,
  stretch: stretch,
);
$justify-positions: (
  start: flex-start,
  center: center,
  end: flex-end,
  around: space-around,
  between: space-between,
  evenly: space-evenly,
);

@each $className, $value in $align-positions {
  .align-#{$className} {
    align-items: $value;
  }
  @each $media, $width in $breakpoints {
    // align
    .align-#{$className}-#{$media} {
      @media (min-width: $width) {
        align-items: $value;
      }
    }
  }
}

@each $className, $value in $justify-positions {
  .justify-#{$className} {
    justify-content: $value;
  }
  @each $media, $width in $breakpoints {
    // justify
    .justify-#{$className}-#{$media} {
      @media (min-width: $width) {
        justify-content: $value;
      }
    }
  }
}

.w {
  flex: 1;
  max-width: 100%;
  flex-basis: 0;
}
@each $media, $width in $breakpoints {
  .w-#{$media} {
    @media (min-width: $width) {
      flex: 1;
      max-width: 100%;
      flex-basis: 0;
    }
  }
}
@for $i from 1 to 11 {
  .w-#{$i} {
    flex: 0 0 ($i * 10%);
  }
  @each $media, $width in $breakpoints {
    .w-#{$i}-#{$media} {
      @media (min-width: $width) {
        flex: 0 0 ($i * 10%);
      }
    }
  }
}

// text alignment
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
@each $media, $width in $breakpoints {
  .text-left-#{$media} {
    @media (min-width: $width) {
      text-align: left;
    }
  }
  .text-center-#{$media} {
    @media (min-width: $width) {
      text-align: center;
    }
  }
  .text-right-#{$media} {
    @media (min-width: $width) {
      text-align: right;
    }
  }
}

// hide
.hide {
  display: none;
}
@each $media, $width in $breakpoints {
  .hide-#{$media} {
    @media (min-width: $width) {
      display: none;
    }
  }
}

// show
.show {
  display: block;
}
@each $media, $width in $breakpoints {
  .show-#{$media} {
    @media (min-width: $width) {
      display: block;
    }
  }
}
