table {
  display: table;
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    text-align: left;
    padding: $spacing;
    vertical-align: top;
  }
  tbody {
    td.text-heavy {
      max-width: 300px;
    }
  }
}

.table {
  border-radius: var(--radius-small);
  padding: $spacing;
  .table-head {
    background: var(--sc-bg-color);
    border-radius: var(--radius-small);
    border-bottom-left-radius: calc(var(--radius-small) / 2);
    border-bottom-right-radius: calc(var(--radius-small) / 2);
    display: flex;
    align-items: center;
    &.sticky {
      position: sticky;
      top: $spacing;
      z-index: 9;
    }
  }
  .table-body {
    padding: $spacing;
    max-height: 40vh;
    overflow: auto;
  }
}
