$title-font: 'Ubuntu Condensed', sans-serif;
$body-font: 'Montserrat', sans-serif;
$font-scale-ratio: 1.2;

//----------------------------//
// Math.pow function
// Credit: https://css-tricks.com/snippets/sass/power-function/
//----------------------------//
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }
  @return $value;
}

body {
  font-family: $body-font;
  font-size: 16px;
}

@for $i from 1 through 6 {
  h#{7-$i} {
    font-size: #{pow($font-scale-ratio, $i)}em;
    font-family: $title-font;
    line-height: 1.2em;
    margin-bottom: 0.4em;
    @if $i < 4 {
      margin-top: 1em;
    } @else {
      margin-top: 0.8em;
    }
  }
}
h1:first-of-type {
  margin-top: 0;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: circle;
  li + li {
    margin-top: $spacing;
  }
  li {
    margin-left: $spacing;
  }
}

code-block {
  margin-bottom: 1rem;
}

pre {
  max-height: 0;
  overflow: hidden;
  &.hljs {
    max-height: none;
  }
}
// sc-button {
//   &[icon-text] {
//     box-icon {
//       margin-right: $spacing;
//     }
//   }

//   .button-inner {
//     * {
//       margin-top: 0;
//     }
//   }
// }
a {
  color: var(--sc-text-color);
}

[data-simplebar] {
  .simplebar-content:before,
  .simplebar-content:after {
    content: none;
  }
}

code {
  padding: 0 $spacing/2;
}
code-block {
  margin-top: 0;
}

app-footer {
  a {
    color: var(--sc-text-color);
  }
}
