@font-face {
  font-family: Quicksand;
  src: url('/assets/fonts/Quicksand-VF.ttf') format('truetype-variations');
}

$title-font: Quicksand, sans-serif;
$body-font: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
body {
  font-family: $body-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  line-height: 1.4em;
}
h1,
h2,
h3 {
  font-variation-settings: 'wght' 600;
}
h4,
h5,
h6 {
  font-variation-settings: 'wght' 500;
}

h1 {
  font-size: 12 * $spacing;
}
h2 {
  font-size: 9 * $spacing;
}
h3 {
  font-size: 6 * $spacing;
}
h4 {
  font-size: 4 * $spacing;
}
h5,
h6 {
  font-size: 2 * $spacing;
}
